<% layout("/layouts/boilerplate") %>
 <body>
    
     <H1 class="head">Showing all booking</H1> <br>
     <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1"> 

      <% for(let listing of allBooking){ %>

    
    <div class="booked-card  card border-danger mb-3"  style="max-width: 18rem;">
  <div class="card-body">
    <h4 class="card-title"> <i class="fa-solid fa-hotel"></i><%= listing.hotelTitle%></h4>
    <h5 class="card-title text-body-secondary">  <i class="fa-solid fa-user"></i><%= listing.name%></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-envelope"></i> <%= listing.email%></h6>
    <h6 class="card-subtitle mb-2 text-body-secondary"><i class="fa-solid fa-phone"></i><%= listing.phoneNumber%></h6>
    <p class="card-text"><i class="fa-solid fa-calendar-days"></i> <%= listing.date.toDateString()%></p>
    <p class="card-text"> <i class="fa-solid fa-clock"></i>From :- <%= listing.startTime%>:00</p>
    <p class="card-text"><i class="fa-solid fa-clock"></i> To:- <%= listing.endTime%>:00</p>
    
    
  </div>
</div>


                <% } %>
                </div>

 </body>