<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <Link rel="stylesheet" href="style.css"
</head>
<body>
    <h1>Chat me apka swagat hai</h1>
    <form action="/chats/new" method="get"> 
        <button>New Chat</button>
    </form>
    <center><h2>All chats</h2></center>
    <% for (chat of chats){ %>
      <div class="chat">
        <p>
            From:  <i><%= chat.from %>  </i>
        </p>
        <p class="message"> <%= chat.message %></p>
        <p>Received by <i> <%= chat.to %> </p> </i>
        <hr>
        <p> <%= chat.createdAt.toString().split(" ")[4]%></p>
        <p> <%= chat.createdAt.toString().split(" ").slice(0,4).join(" ") %></p>
        <form action="/chats/<%=chat._id %>/edit" method="get">
            <button>Edit</button>
        </form>

      </div>
      <br><br>
      <hr>
      

  <% } %>
    
</body>
</html>